<h1>
  {{title}}
</h1>
 <div class="header-bar"></div>
<nav>
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/product/product" routerLinkActive="active">Products</a>
    </nav>
 <h1>Products</h1>


<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
             <th>Name</th>
            <th>Description</th>
               <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
      
     <tr *ngFor="let value of values" >          
            <td>{{value.id}}</td>
               <td>{{value.name}}</td>
            <td>{{value.description}}</td>
               <td>{{value.quantity}}</td>
        </tr>
        
    </tbody>
</table>